@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Quicksand', sans-serif;
    background-color: #efefef;
}

input, button {
    font-size: 16px;
}

.header-bar {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: top 0.3s;
    align-items: center;
    z-index: 3;
    background-color: white;
    padding: 15px 100px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    flex-wrap: wrap;
}

.navbar > h2 {
    margin-right: 30px;
    color: #945BCE;
}

.icon-menu {
    display: none;
}

 .navbar_head {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    padding-top: 0;
    text-align: center;
 }

 .navbar_head > h2 {
    padding-right: 16px;
    color: rgb(148, 91, 206);
 }

.nav_list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
}


.nav_item > a {
    list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
 }

 .nav_item:hover {
    font-weight: bolder;
 }

 .btn {
    padding: 12px 20px;
    display: inline-block;
    text-align: center;
    border: none;
    font-family:"Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: #333;
    font-weight: bolder;
}

.btn_signup {
    border-radius: 8px;
    background-color: rgb(148, 91, 206);
    color: white;
    box-shadow: 0 10px 40px rgba(148, 91, 206, 0.2);
    border-radius: 50px;
}

.btn_signup:hover {
    background-color: rgb(178, 123, 233);
}

main {
    max-width: 1170px;
    width: 100%;
    margin: 60px auto;
    padding: 16px;
}

.input_section {
    display: flex;
    padding: 25px 0;
    margin: 30px 20px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    justify-content: space-evenly;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}

.input_section > img {
    width: 40%;
    padding: 20px;
  } 

.input-form {
    margin-bottom: 20px;
}

.input-form > h2 {
    color: #333;
}

.input-form > form > .input {
    margin: 14px 0;
}

.input-form > form > button {
    background-color: rgb(148, 91, 206);
    box-shadow: 0 10px 40px rgba(148, 91, 206, 0.3);
    color: white;
    border: 0;
    border-radius: 50px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    padding: 12px 30px;
}

.input-form > form > button:hover {
    background-color: rgb(178, 123, 233);
}

.input-form > form > button > span {
    font-weight: bold;
}

.input-form > form > .input > input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #945BCE 10%, #fff 100%);
    border-image-slice: 1;
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: bolder;
}

input[type=text]:focus {
    border: 1px solid #945BCE;
 }

.input-form > form > .input > label {
    color: #333;
    font-weight: lighter;
}

.input-form > form > .input_inline {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.input-form > form > .input_inline > label {
    color: #333;
    font-weight: lighter;
    margin-right: 10px;
}

#inputBookIsComplete {
    color: #945BCE;
}

.search_section {
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 40px 0 rgb(0 0 0 / 10%);
}

.search_section > h2 {
    color: #333;
    text-align: center;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search_section > form > input {
    display: block;
    width: 70%;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #945BCE 10%, #fff 100%);
    border-image-slice: 1;
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: lighter;
}

.search_section > form > button {
    padding: 12px 20px;
    display: inline-block;
    text-align: center;
    border: none;
    font-family:"Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(148, 91, 206);
    color: white;
    box-shadow: 0 10px 40px rgba(148, 91, 206, 0.3);
    border-radius: 50px;
}

.search_section > form > button:hover {
    background-color: rgb(178, 123, 233);
}

.book_shelf {
    margin: 30px 20px;;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 10px 40px 0 rgb(0 0 0 / 10%)
}

.book_shelf > h2 {
    color: #333;
    text-align: center;
}

.book_shelf > .book_list {
    padding: 16px;
    display: flex;
    justify-content: center;
    grid-column-gap: 15px;
    flex-wrap: wrap;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.book_item:hover {
    border: 1px solid rgb(148, 91, 206);
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.year {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item  > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item  > .incompleted {
    background: url('../assets/icon/incompleted.svg');
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
}

.book_shelf > .book_list > .book_item  > .completed {
    background: url('../assets/icon/completed.svg');
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
}

.book_shelf > .book_list > .book_item  > .deleted {
    background: url('../assets/icon/delete.svg');
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 768px) {
    .header-bar {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar {
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .icon-menu {
        color: #945BCE;
        background-color: transparent;
        min-width: 44px;
        min-height: 44px;
        display: block;
        border: 2px solid #945BCE;
        padding: 8px 12px;
        border-radius: 5px;
    }
    .navbar_head {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        padding-bottom: 2rem;
    }
    .navbar_head.active {
        left: 0;
    }
    .nav_list {
        display: block;
    }
    .nav_item {
        margin: 3rem 0;
    }
    .btn-list {
        display: block;
    }
    .btn {
        margin-bottom: 5px;
        display: grid;
    }
    .input_section {
        display: grid;
        padding: 25px;
    }
    .input_section > img {
        width: 100%;
    }
    .input-form > h2 {
        text-align: center;
    }
}